<header class="container">
    <nav class="navbar navbar-default" role="navigation">
        <ul class="nav navbar-nav">
            <li><a href="/">Главная</a></li>
            <li><a href="/test">Тестовая</a></li>
        </ul>
    </nav>
</header>